/* Responsive width, matches with default bootstrap navbar */
.chords_background {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.chords {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1400px) {
    .chords {
        max-width: 1120px;
    }
}

@media screen and (max-width: 1200px) {
    .chords {
        max-width: 940px;
    }
}

@media screen and (max-width: 992px) {
    .chords {
        max-width: 700px;
    }
}

@media screen and (max-width: 768px) {
    .chords {
        max-width: 520px;
    }
}

@media screen and (max-width: 768px) {
    .chords {
        max-width: 520px;
    }
}

@media screen and (max-width: 576px) {
    .chords {
        max-width: 96.5%;
    }
}

.chords__beat {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: underline;
}

.chords__row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.chords__buttonActive {
    width: 100%;
    background-color: green;
}

.chords__buttonInactive {
    width: 100%;
    background-color: white;
}

.chords__chordLabel {
    width: 100%;
}